@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none; outline: none;
    border: none;
    font-family: 'Spartan', sans-serif;
}

html{
    font-size: 62.5%;
}

main.container{
    height: 100vh;
    background-color: #3B4664;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

/* Toggle Button customization */
.switch{
    height: 2.5rem;
    width: 7rem;
    position: relative;
    display: inline-block;
}

.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #252D44;
    transition: .4s;
}

.slider::before{
    position: absolute;
    content: '';
    height: 1.8rem;
    width: 1.8rem;
    left: .4rem; bottom: .4rem;
    transition: .4s;
    background-color: #CF3F34;
}

input:checked + .slider{
    background-color: #252D44;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .calc-screen{
      width: 28%;
  }

  header{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .display{
      max-width: 100%;
      background-color: #181F32;
      border-radius: 1.5rem;
      margin: 2rem 0;
      padding: 2.5rem 2rem;
      text-align: right;
  }

  .digits{
      font-size: 1.6rem;
      color: rgb(160, 160, 160);
      margin-bottom: 1.5rem;
  }

  .result{
    font-size: 4em;
    color: #fff;
    margin-top: 1.5rem;
  }

  .keypad{
      max-width: 28%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: column;
      background-color: #252D44;
      border-radius: 1.5rem;
      padding: 2rem 1.5rem;
  }

  input{
      background-color: #EAE3DB;
      width: 10rem;
      margin: 1rem;
      height: 6rem;
      cursor: pointer;
      border-radius: 1rem;
      border-bottom: .4rem solid #B6A49A;
      color: #454C56;
      font-size: 3.2rem;
  }

  input.reset, input.equal{
      width: 22rem;
  }

  input.reset, input.del{
      font-size: 2rem;
      background-color: #647299;
      border-bottom: .4rem solid #424E76;
      color: #fff;
  }

  input.equal{
      background-color: #D13F30;
      border-bottom: .4rem solid #8F2316;
      color: #fff;
  }

  @media (max-width : 991px){
      .calc-screen, .keypad{
          width: 70%;
      }
  }