@import "./variables.scss";
.services-container {
  max-width: 100vw;
  margin: 0 15%;
  margin-top: 80px;
  i {
    font-size: 36px;
    color: $header-text;
  }
  h1 {
    @include blue-text(40px);
    text-align: center;
    margin-bottom: 10px;
  }
  p.service-name {
    @include blue-text(14px);
    text-transform: capitalize;
  }
  p {
    @include para-text(14px);
    &.subHead {
      padding: 0 30%;
      text-align: center;
    }
  }
  .single-service {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 45px 0;

    .service-container {
      position: relative;
    }

    button {
      @include button($header-text, $white);
      // position: absolute;
      margin-top: 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    margin: 0 10%;
    .single-service {
      // width: 80vw;
      display: grid;
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      grid-gap: 30px;
      margin: 45px auto;
    }
  }
  @media screen and (max-width: 768px) {
    margin: 0 5%;

    h1 {
      @include blue-text(24px);
    }

    p {
      @include para-text(14px);
      &.subHead {
        padding: 0 5%;
        text-align: center;
      }
    }

    .single-service {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 15px 0;
    }
  }
}

.service-container {
  border: 1px solid rgba($color: $normal-text, $alpha: 0.3);
  padding: 35px 60px;
  img {
    width: 40px;
  }
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
  }

  @media screen and (max-width: 768px) {
    padding: 25px;
  }
}
